
  <!-- Bootstrap -->



  
  <script src="<?php echo TEMP_URL?>/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
  <script src="<?php echo TEMP_URL?>/js/charts/sparkline/jquery.sparkline.min.js"></script>
 
  
  <script src="<?php echo TEMP_URL?>/js/jquery.min.js"></script>
  <script src="<?php echo TEMP_URL?>/js/bootstrap.js"></script>
  <!-- App -->
  
    <script src="<?php echo TEMP_URL?>/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
<script src="<?php echo TEMP_URL?>/js/charts/sparkline/jquery.sparkline.min.js"></script>
  <script src="<?php echo TEMP_URL?>/js/app.js"></script> 
    <script src="<?php echo TEMP_URL?>/js/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="<?php echo TEMP_URL?>/js/app.plugin.js"></script>
    <script src="<?php echo TEMP_URL?>js/app.plugin.js"></script>
  
                  <!--  音乐JS代码 -->
   <?php if ($_GET['i']=='music') {require_once TEMP_URL . 'play/jPlayer/player.html';}?>
                 <!--  音乐JS代码 -->
 
    <script type="text/javascript" src="<?php echo TEMP_URL?>/play/jPlayer/jquery.jplayer.min.js"></script>
  <script type="text/javascript" src="<?php echo TEMP_URL?>/play/jPlayer/add-on/jplayer.playlist.min.js"></script>
</body>
</html>
  