
<!DOCTYPE html>
<html lang="en" class="app">
<head>
<meta charset="utf-8" />
<title><?php echo $PRO['title'];?> - <?php echo $_SITE['title'];?></title>
<meta name="keywords" content="<?php echo $PRO['title'];?>">
<meta name="description" content="<?php echo $PRO['title'];?>" />
<?php require_once 'header.html';?>
<aside class="bg-white">
	<section class="vbox">
		<header class="header bg-light lt">

			<ul class="nav nav-tabs nav-white">

                <li><a href="./">首页</a></li>
				<li class="active"><a data-toggle="tab">文章阅读页面</a></li>


			</ul>

		</header>
		<section class="scrollable">
			<div class="tab-content">
				<!--    开始 -->

				<div class="tab-pane active" id="<?php echo $csname['pid'];?>">
					<ul
						class="list-group no-radius m-b-none m-t-n-xxs list-group-lg no-border">

						<li class="list-group-item"><protty_logo
								class="thumb-sm pull-left m-r-sm"> <img
								src="http://tupian.qqjay.com/tou3/2015/0519/a20250fe53b48d666256c3738a28cfac.jpg"
								class="img-circle"> </protty_logo> <small class="pull-right">
								<?php echo date('Y-m-d h:i:s', $PRO['times']);?>
						</small> <strong class="block" style="margin-bottom: 5px;">
								<?php echo $PRO['athor'];?>
						</strong> <small>
								<?php echo $user['sig'];?>
						</small></li>


						<li class="list-group-item">
							<?php echo $PRO['content'];?> <!-- 分享代码 -->
							<div class="bshare-custom">
								<a title="分享到" href="http://www.bShare.cn/" id="bshare-shareto"
									class="bshare-more">分享到</a><a title="分享到QQ空间"
									class="bshare-qzone">QQ空间</a><a title="分享到新浪微博"
									class="bshare-sinaminiblog">新浪微博</a><a title="分享到人人网"
									class="bshare-renren">人人网</a><a title="分享到腾讯微博"
									class="bshare-qqmb">腾讯微博</a><a title="分享到网易微博"
									class="bshare-neteasemb">网易微博</a><a title="更多平台"
									class="bshare-more bshare-more-icon more-style-addthis"></a><span
									class="BSHARE_COUNT bshare-share-count">0</span>
							</div> <script type="text/javascript" charset="utf-8"
								src="http://static.bshare.cn/b/buttonLite.js#style=-1&amp;uuid=&amp;pophcol=1&amp;lang=zh"></script>
							<script type="text/javascript" charset="utf-8"
								src="http://static.bshare.cn/b/bshareC0.js"></script> <!-- 分享代码 -->

						</li>

						<li class="list-group-item">
							<?php echo $_SITE['mss_html'];?>

						</li>



					</ul>
				</div>


				<!--  结束-->


			</div>
		</section>
	</section>
</aside>
<?php require_once 'footer.html';?>